.scrollHide {
    height: 800px;
    width: 30px;
    background: #39383f;
    position: absolute;
    margin-left: 375px;
    z-index: 1000;
}
body {
    display: flex;
    justify-content: center;
    background: #39383f;
    font-family: "Montserrat Alternates", sans-serif;
    color: #f5e2cd;
  }//